@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clickable {
    @apply p-2 rounded-full hover:bg-blue-50 cursor-pointer
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
